{% extends "layout.html" %}

{% block body %}

<form name="create_user" action="{{ url_for('save_user') }}" method="post">
    <div class="control-group">
      <input type="text" class="login-field" value="" placeholder="Enter your username" name="email" />
      <label class="login-field-icon fui-man-16" for="login-name"></label>
    </div>

    <div class="control-group">
      <input type="text" class="login-field" value="" placeholder="3-D password" name="password" />
      <label class="login-field-icon fui-lock-16" for="login-pass"></label>
    </div>

    <input type="submit" class="btn btn-primary btn-large btn-block" value="Create account">
</form>

<a class="login-link" href="{{ url_for('index') }}">Sign in</a>

{% endblock %}