{% extends "layout.html" %}

{% block body %}

  <!--only show logout link, login status if user is logged in.-->
{% if session['email'] %}

  <!--  Sign-in status-->
  <span class="btn btn-large btn-block disabled">Hello, {{ session['email'] }}!</span>

  <!-- logout link -->
  <br />
  <a class="login-link" href="{{ url_for('logout') }}">Click here to logout</a>

{% else %}

  <form name="login" action="{{ url_for('validate_login') }}" method="post">

  <div class="control-group">
    <input type="text" class="login-field" value="" placeholder="Enter your username" name="email" />
    <label class="login-field-icon fui-man-16" for="login-name"></label>
  </div>

  <div class="control-group">
    <input type="text" class="login-field" value="" placeholder="3-D password" name="password" />
    <label class="login-field-icon fui-lock-16" for="login-pass"></label>
  </div>

  <input type="submit" class="btn btn-primary btn-large btn-block" value="Sign in">

  </form>

  <a class="login-link" href="{{ url_for('create_user') }}">Create a new account</a>

{% endif %}


{% endblock %}